---

export enum AcordeonTipo{
	DEFAULT, FLUSH, ALWAYSOPEN
}

export interface AcordeonItem {
	titulo: string;
	contenido: string;

// en caso de agregar imegen se solocita en todos los item
}

export interface AcordeonConfig {
	items: AcordeonItem[];
	identificador: string;
	tipo: AcordeonTipo;
}

export interface Props {
	config: AcordeonConfig;
}

const { config } = Astro.props;

---

<div class={ `accordion${config.tipo===AcordeonTipo.FLUSH ? " accordion-flush" :  ""}` } id={config.identificador}>
	{
		config.items.map((item, index) => {
			return (
				<div class="accordion-item">
					<h2 class="accordion-header" id={`${config.identificador}-heading-${index}`}>
						<button
							class="accordion-button"
							type="button"
							data-bs-toggle="collapse"
							data-bs-target={`#${config.identificador}-collapse-${index}`}
							aria-expanded="true"
							aria-controls={`${config.identificador}-collapse-${index}`}
						>
							{item.titulo}
						</button>
					</h2>
					<div
						id={`${config.identificador}-collapse-${index}`}
						class="accordion-collapse collapse show"
						aria-labelledby={`${config.identificador}-heading-${index}`}
						data-bs-parent={ config.tipo === AcordeonTipo.ALWAYSOPEN ? "" : `#${config.identificador}`}
					>
						<div class="accordion-body">
							{item.contenido}
						</div>
					</div>
				</div>
			);
		})
	}
</div>
